/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .center {
        display: none;
    }

    .about-info {
        padding: 30px;
    }

    .counter {
        width: 280px;
    }

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    nav ul li {
        margin-right: 30px;
    }

    .login-btn,
    .register-btn {
        width: 100px;
        padding: 15px 20px;

    }

    .center {
        display: none;
    }

    #contact {
        display: none;
    }

    .about-info {
        padding: 5px;
    }

}
@media (max-width: 768px){
    .social-links{
        text-align: left !important;
    }
    .footer-contact {
        margin-bottom: 30px;
    }

    .social-links ul li a {
        font-family: "Poppins", Helvetica;
        font-weight: 400;
        color: #555555;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 36px;
        transition: .3s;
        margin-left: 0 !important;
        margin-right: 20px !important;
    }
    .fc-title h3 {
        margin-bottom: 15px;
    }
    .social-links ul li a i {
        font-size: 20px;
        line-height: 20px;
    }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    #contact {
        display: none;
    }

    .about-info {
        padding: 5px;
    }


}

@media (max-width: 410px) {

    .mobile-login {
        text-align: left !important;
    }
}

/* small mobile :320px. */
@media (min-width: 320px) and (max-width: 480px) {

    #contact {
        display: none;
    }
    #menu-icon {
        position: absolute;
        right: 20px !important;
        top: 20px;
        font-size: 25px;
    }
    .search-btn {
        width: 124px;
        padding: 10px 15px;
        top: 37px;
    }

    .search-pagination ul li {
        margin-left: 5px;
    }

    .about-info {
        padding: 15px;
    }

    .about-info-title h2 {
        font-size: 27px;
        line-height: 43px;
    }

    .service-inner {
        width: 320px;
    }
    .mobile-login {
        text-align: left;
        margin-top: 8px;
    }

    .mobile-login a {
        color: #fff;
        font-size: 15px;
        margin-left: 5px;
        font-weight: 500;
    }

    .logo-img a img {
        width: 35px;
        height: 42px;
    }

    .logo-text{
        margin-left: 5px;
        margin-top: 8px;
    }

    .logo-text a p {
        font-size: 12px;
        margin-top: -15px;
    }

    .logo-text a {
        font-size: 30px;
    }
    .banner-content h1 {
        font-size: 32px !important;
        line-height: 50px !important;
    }
    .prev, .next {
        font-size: 50px;
      }
    
      .prev {
        left: 10px;
      }
    
      .next {
        right: 10px;
      }


}
@media only screen and (min-width: 480px) and (max-width: 992px) {
    #menu-icon {
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 100%;
    }

    /* .navlist {
        right: -150%;
    } */
    #contact {
        display: none;
    }

    .search-btn {
        width: 124px;
        padding: 10px 15px;
        top: 37px;
    }

    .search-pagination ul li {
        margin-left: 5px;
    }

    .about-info {
        padding: 10px;
    }

    .about-info-title h2 {
        font-size: 27px;
        line-height: 43px;
    }
    .banner-content h1 {
        font-size: 50px !important;
        line-height: 70px !important;
    }
    .counter {
        width: 260px;
    }

}

/*Max Width 992px*/
@media (max-width: 992px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 118%;
        right: -200%;
        width: 300px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: #5a967d;
        transition: all .50s ease;
    }

    .navlist a {
        display: block;
        padding: 17px;
        font-size: 18px;
    }

    .navlist.active {
        right: 0;
    }



    .header-btn {
        display: none;
    }

    .login-btn,
    .register-btn {
        padding: 0;
    }

    .center {
        margin: 15px 75px;
    }

    .register-btn {
        display: flex;
        width: 150px;
        align-items: center;
        justify-content: center;
        background-color: #6dea6a;
        border-radius: 5px;
        margin-left: 0;
        transition: .3s;
        margin-top: 20px;
    }

    nav ul li {
        margin-right: 0;
    }

    nav ul li:first-child {
        padding-top: 30px;
    }

    .center {
        display: block;
    }

    .pprice {
        margin: 0 auto;
    }

    #contact {
        display: none;
    }

    .counter {
        margin: 0 auto;
    }

    .banner-content h1 {
        font-size: 50px;
        line-height: 70px;
    }
    .about-info-title h2 {
        font-size: 27px;
        line-height: 43px;
    }

    .pagination-icon .line-left,
    .pagination-icon .line-right {
        display: none;
    }

    .contact-left {
        display: none;
    }

    .mobile-login {
        display: block;
    }

}